#r {
    float: left;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    width: 25%;
    margin: 0 0 -3.5px 0;
    padding: 15px 30px;
    overflow: hidden;
    color: #d6b17e;
    cursor: pointer;
    outline: none;
    position: relative;
    font-family: 'nikki-din';
  }